.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: auto;
}

.headerIcons {
  display: flex;
  justify-content: space-evenly;
}

.geistHeaderIcon {
  margin: 10px;
  opacity: 0.9;
}

.headerText {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.05em;
  margin-top: 50px;
  text-align: left;
  opacity: 0.9;
}

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textEditor {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh !important;
}

.textEditorHeading1 {
  font-size: 1.4rem;
  font-weight: 500;
  opacity: 0.8;
  margin: 0px;
}

.textEditorHeading2 {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.6;
}

.resultPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh !important;
}

.editorLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultHeading {
  margin-top: 0px;
  font-size: 1.4rem;
  font-weight: 500;
  opacity: 0.8;
}

.resultHeadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bubblesFeedback {
  display: flex;
  min-height: 220px;
  border: 2.4px solid rgb(234, 234, 234);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.creativityLink {
  font-size: 1rem !important;
  color: rgb(50, 135, 101) !important;
}

.creativityLevel1 span:nth-child(2) {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.6;
}

.creativityLevel2 span:nth-child(2) {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.6;
}
.creativityLevel3 span:nth-child(2) {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.6;
}
.creativityLevel4 span:nth-child(2) {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.6;
}

.creativityLevel1 span:nth-child(1) {
  background-color: rgb(88, 162, 139);
  width: 0.9rem;
  height: 0.9rem;
}

.creativityLevel2 span:nth-child(1) {
  background-color: rgb(50, 135, 101);
  width: 0.9rem;
  height: 0.9rem;
}

.creativityLevel3 span:nth-child(1) {
  background-color: rgb(28, 90, 70);
  width: 0.9rem;
  height: 0.9rem;
}

.creativityLevel4 span:nth-child(1) {
  background-color: rgb(0, 60, 49);
  width: 0.9rem;
  height: 0.9rem;
}

.resultDots {
  display: flex;
  justify-content: space-between;
}

.bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.topicA {
  width: 100px !important;
  height: 100px !important;
  margin: 10px !important;
  background: rgb(151 162 88) !important;
}

.topicB {
  width: 60px !important;
  height: 60px !important;
  margin: 10px !important;
  background: rgb(163 130 78) !important;
}

.topicC {
  width: 140px !important;
  height: 140px !important;
  margin: 10px !important;
  background: rgb(206 151 172) !important;
}

.bubbleTopicHeading {
  font-size: 0.8rem;
  opacity: 0.7;
  font-weight: 500;
  margin: 0px;
}
